llama-index
llama-index-embeddings-huggingface
llama-index-llms-openai
llama-index-vector-stores-chroma
pandas
openpyxl
xlrd
pymupdf
camelot-py[cv]
tabulate
python-dotenv
fastapi
uvicorn
aiofiles
chromadb
sentence-transformers
llama-index-retrievers-bm25
rank_bm25
ragas
datasets
